#titulo{
  
    color:red




}
p.otra {

color: tomato;



}
p.texto{
 color:blueviolet;
 font-size: 48px;
}

div p {

    color:chartreuse
}
div h2,div h3 {
    color:chocolate
}
* { /* esto es un comentario */

    font-size: 24px;
    color:black;
}
.color{ /* colores en hexa */

    /*color:#f6a;
    color:#f5f07f*/
    /* colores en rgb 0/255 */
    border-style: groove;
    border-color: red;
    border-radius: 2px;
    border-width: 2rem;
}

#fondo{
background-color:rgb(255, 0, 0);
opacity: 0.5; /*le da una transparencia al conjunto*/
/*background-image: url("imagenes/ciudad.jpg");
height: 600px;
background-size: cover;
background-size: 400px 200px;
background-repeat: no-repeat;*/

}

.margenes{
background-color: tomato;
margin: 15px 15px 15px 15px;
padding: 15px;
border: solid 2px black;
height: 400px;
width: 100px;
overflow: scroll;
outline:2px solid green ;
}

.txt { text-align: center;
    /*text-decoration: overline;*/
    text-shadow: 2px 5px 5px black;


}