:root {
    --color-uno: #004d98;
    --color-dos: #edbb00;
    --color-tres: #a50044;
    --color-cuatro: #fff;
    --color-cinco: #000;
}
body{
    font-family: sans-serif, tahoma;
    background-position: center;
    margin: 0;
    background: var(--color-uno);
}
h1{
    text-align: center;
    padding: 30px;
    background: var(--color-uno);
    color: var(--color-cuatro);
    margin: 0;
    font-size: 40px;
}
nav {
    margin: 0;
    padding: 20px;
    background: var(--color-tres);
    font-size: 20px;
}
a {
    text-decoration: none;
    color: var(--color-dos);
}
.lados {
    display: flex;
    justify-content: space-between; /*separa elementos a lados opuestos*/
}
h2 {
    background: var(--color-uno);
    margin: 0;
    color: var(--color-dos);
    font-size: 40px;
    text-align: center;
}
.trofeo{
    margin-top: 10px;
}
h3 {
    margin: 10px;
    color: var(--color-cuatro);
    word-spacing: 3px;
    font-size: 25px;
}
.goles {
    color: var(--color-cuatro);
    font-size: 25px;
    align-items: center;
}
.Bio-contenido {
    display: flex;
    align-items: flex-start; /*alinea el texto con la foto de arriba*/
    gap: 30px; /* espacio entre imagen y texto*/
    padding: 20px;
    font-size: 22px;
    color: var(--color-cuatro);
}
.Lista-Goles {
    text-align: center;
    color: var(--color-cuatro);
    font-size: 20px;

}
.copas-contenido {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.copas-fotos {
    background-color: var(--color-tres);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.copas-fotos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.copas-fotos img:hover {
    transform: scale(1.05)
}
h4 {
    margin: 10px 0 5px;
    color: var(--color-dos);
}
p {
    color: var(--color-cuatro);
}
footer {
    background-color: var(--color-tres);
    color: var(--color-cuatro);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 20px;
}
.highlight {
    align-items: center;
    display: flex;
    justify-content: center;
}
.mm {
    margin-bottom: 10px;
}
